<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址 -->
<mapper namespace="com.flamingo.studiostare.dao.ICategoryDao">

	<resultMap type="CategoryEntity" id="categoryResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="getCategoryById" parameterType="int" resultType="CategoryEntity"
		resultMap="categoryResultMap">
        <![CDATA[ 
            select * from category where id = #{id}
        ]]>
	</select>

</mapper>