<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址 -->
<mapper namespace="com.flamingo.studiostare.dao.INewsDao">

	<resultMap type="NewsEntity" id="newsResultMap">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="photoPath" column="photo_path" />
		<result property="videoPath" column="video_path" />
		<result property="userId" column="user_id" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="getNewsById" parameterType="int" resultType="NewsEntity"
		resultMap="newsResultMap">
        <![CDATA[ 
            select * from news where id = #{id}
        ]]>
	</select>

</mapper>