<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址 -->
<mapper namespace="com.flamingo.studiostare.dao.VideoRefDao">

	<resultMap type="VideoRefEntity" id="videoRefResultMap">
		<id property="id" column="id" />
		<result property="videoId" column="video_id" />
		<result property="clientId" column="client_id" />
		<result property="categoryId" column="category_id" />
		<result property="description" column="description" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="getVideoRefById" parameterType="int" resultType="VideoRefEntity"
		resultMap="videoRefResultMap">
        <![CDATA[ 
            select * from videoref where id = #{id}
        ]]>
	</select>

</mapper>